# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


/src/vendor/
/src/node_modules/
/src/npm-debug.log
/src/yarn-error.log

# Laravel 4 specific
/src/bootstrap/compiled.php
/src/app/storage/

# Laravel 5 & Lumen specific
/src/public/storage
/src/public/hot
/src/public_html/storage
/src/public_html/hot

/src/storage/*.key
/src/.env
/src/Homestead.yaml
/src/Homestead.json
/.vagrant
.phpunit.result.cache